<%= render 'layouts/navbar' %>
<%= link_to "Atrás", :back %>

<div class="container">
  <div class="row">
    <div class="col-3">
      <%= image_tag(@results["img"], :alt => "Foto no disponible", class: "img-thumbnail")%>
    </div>
    <div class="col-9">
      
      <h1><%= @results["name"] %></h1>
      <h2>(aka. <%= @results["nickname"] %>)</h2>
      <br>
      <h5>Actor/a: <%= @results["portrayed"] %></h5>
      <% unless @results["birthday"].nil? %>
        <h5>Nacimiento: <%= @results["birthday"] %></h5>
      <% end %>
      <h5>Ocupaciones:</h5>
      <ul>
        <% @results["occupation"].each do |ocu| %>
        <li><%= ocu %></li>
        <% end %>
      </ul>
      <h5>Estado: <%= @results["status"] %></h5>
    </div>
  </div>
  <hr>
  <br>
  <h2 align="center">Temporadas en las que apareció</h2>
  <br>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-3">
      <%= image_tag "fotos/Breaking_Bad_logo.png", class: "img-thumbnail" %>
      <% if @results["appearance"].empty? %>
        <p>No se registran apariciones en esta serie.</p>
      <% else %>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th>Temporadas</th>
            </tr>
          </thead>
          <tbody>
            <% @results["appearance"].each do |season| %>
              <tr>
                <td><%= link_to "Temporada #{season}", season_show_path(season, :bb), class: "my-table-text"%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col-2">
    </div>
    <div class="col-3">
      <%= image_tag "fotos/BCS_logo.png", class: "img-thumbnail" %>
      <% if @results["better_call_saul_appearance"].empty? %>
        <p>No se registran apariciones en esta serie.</p>
      <% else %>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th>Temporadas</th>
            </tr>
          </thead>
          <tbody>
            <% @results["better_call_saul_appearance"].each do |season| %>
              <% if season != 5 %>
                <tr>
                  <td><%= link_to "Temporada #{season}", season_show_path(season, :bcs), class: "my-table-text" %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col-2">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h2>Citas:</h2>
      <% if @quotes.empty? %>
        <p>No se registran citas para este personaje.</p>
      <% else %>
        <ul>
          <% @quotes.each do |quote| %>
            <li><%= "#{quote['quote']} (#{quote['series']})" %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
