<%= render 'layouts/navbar' %>
<%= link_to "Atrás", :back %>

<div class="container">
  <div class="row">
    <div class="col-3">
      <%= image_tag @image_path, class: "img-thumbnail" %>
    </div>
    <div class="col-9">
      <h1><%= @results["title"] %></h1>
      <h2>Temporada <%= @results["season"] %> | Episodio <%= @results["episode"] %></h2>
      <h5>Estreno: <%= @results["air_date"].to_date %></h5>
    </div>
  </div>
  <br>
  <h4>Personajes en este episodio</h4>
  <div class="row">
      
    <% @results["characters"].each do |person| %>
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= person %></h5>
            <%= link_to "Información", character_show_path(person), class: "btn btn-success" %>
          </div>
        </div>        
      </div>
    <% end %>
      
  </div>
</div>
