<%= render 'layouts/navbar' %>
<%= link_to "Atrás", :back %>

<h1>Episodios</h1>
<h2><%= @results[0]["series"] %></h2>
<h3>Temporada <%= @results[0]["season"] %></h3>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>N°</th>
      <th>Título</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |epi| %>
      <tr>
        <td><%= epi["episode"] %></td>
        <td><%= link_to epi["title"], episode_show_path(epi["episode_id"]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
